Skip to content
This repository
Search
Pull requests
Issues
Marketplace
Explore
 @Albejr
Sign out
1
1 0 Albejr/jquery-albe-timeline
 Code  Issues 1  Pull requests 0  Projects 0  Wiki  Insights  Settings
jquery-albe-timeline/.gitignore
3ceed7c  11 days ago
@Albejr Albejr create
     
40 lines (33 sloc)  503 Bytes
# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
© 2018 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
API
Training
Shop
Blog
About
Press h to open a hovercard with more details.