<!-------------------------------
     _    _ _
    / \  | | |__   ___
   / _ \ | | '_ \ / _ \
  / ___ \| | |_) |  __/
 /_/   \_\_|_.__/ \___|

------------------------------->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Timeline - Albe</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="Albertino Júnior" />
    <meta name="description" content="Renderização de uma timeline em Jquery a partir de uma lista de dados em Json." />
    <meta name="designer" content="Albertino Júnior" />
    <meta name="revisit-after" content="30 Days" />
    <meta name="application-name" content="Albertino Júnior" />

    <link rel="author" type="text/plain" href="http://albertino.eti.br/humans.txt" />
    <link rel="Shortcut Icon" type="image/x-icon" href="http://cdn.albertino.eti.br/favicon.ico" />
    <link rel="icon" type="image/gif" href="http://cdn.albertino.eti.br/favicon.gif">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/animatecss/3.5.2/animate.min.css" />
    <link rel="stylesheet" href="style-albe-timeline.css" />
</head>
<body>

    <h1>Albe Timeline</h1>

    <div id="myTimeline">
    </div>

    <script src="https://cdn.jsdelivr.net/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../jquery-albe-timeline-3.0.0.min.js"></script>
    <script src="data-albe-timeline.js"></script>
</body>
</html>
